@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("raleway-v18-latin-regular.eot");
  src: url("raleway-v18-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("raleway-v18-latin-regular.woff2") format("woff2"),
    url("raleway-v18-latin-regular.woff") format("woff"),
    url("raleway-v18-latin-regular.ttf") format("truetype"),
    url("raleway-v18-latin-regular.svg#Raleway") format("svg");
}

body {
  font-family: Raleway;
  margin: 0;
}

#bloc_page {
  padding: 0px 50px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#titre_principal {
  display: flex;
  flex-direction: column;
}

header h1 {
  font-size: 1.4em;
  margin-top: -50px;
  font-weight: normal;
}

header h2 {
  font-size: 1.3em;
  margin-top: 10px;
  font-weight: normal;
}
#logo {
  height: 90px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
nav ul {
  display: table;
  list-style: none;
  height: 100%;
}
nav ul li {
  display: table-cell;
  padding: 0px 20px;
  vertical-align: middle;
}
nav ul li:hover {
  border-top: 4px solid #0065fc;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: x-large;
}
nav ul li a:hover {
  color: #0065fc;
}
.bold {
  color: #0065fc;
  font-weight: bold;
}

h1 {
  height: 100px;
  font-size: 1.5em;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  margin: 0;
}

#rechercher {
  border: solid #f2f2f2 2px;
  background-color: #f2f2f2;
  height: 40px;
  display: inline-flex;
  border-radius: 10px;
  overflow: hidden;
}

input {
  width: 200px;
  font-weight: bolder;
  align-items: center;
  border: none;
}
::placeholder {
  color: #bbb;
}
.searchTerm {
  border: none;
  width: 300px;
  padding: 0px 10px;
}
#rechercher i {
  align-self: center;
  padding: 0px 20px;
}

.searchbutton {
  background-color: #0065fc;
  border: none;
  text-align: center;
  color: white;
  font-weight: lighter;
  padding: 0px 10px;
  overflow: hidden;
}
#filtre {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
}
.fltrebtn {
  margin-left: 10px;
  width: 600px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}
.btn {
  display: flex;
  border-radius: 20px;
  background-color: white;
  height: 35px;
  align-items: center;
  overflow: hidden;
  padding: 0;
  outline: none;
  border: #f2f2f2 solid 2px;
}
.btnText {
  padding: 0px 10px;
}
.btn:active {
  border: #0065fc solid 2px;
}
.btn:hover {
  background-color: #deebff;
}
.btnIcon {
  display: flex;
  background: #deebff;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  color: #0065fc;
}
#information {
  border: solid green 3px;
}

div.home {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  border-radius: 10px;
  background-color: white;
  height: 140px;
  display: flex;
  overflow: hidden;
}
div.home:hover {
  border: 1px solid #777;
}

div.home img {
  width: 100%;
  height: auto;
}

div.description {
  padding: 10px;
  text-align: left;
  background: white;
  align-self: flex-end;
  width: inherit;
}
