@font-face {
  font-family: raleway;
  font-style: normal;
  font-weight: 400;
  src: url("raleway-v18-latin-regular.eot");
  src: url("raleway-v18-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("raleway-v18-latin-regular.woff2") format("woff2"),
    url("raleway-v18-latin-regular.woff") format("woff"),
    url("raleway-v18-latin-regular.ttf") format("truetype"),
    url("raleway-v18-latin-regular.svg#Raleway") format("svg");
}
body {
  font-family: raleway;
  margin: 0;
  padding: 0px 50px;
}
a {
  text-decoration: none;
  color: black;
}
header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
h1 {
  font-size: 1.5em;
  font-weight: normal;
}
h2 {
  font-size: 1.3em;
  font-weight: normal;
}
#logo {
  height: 90px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
nav ul {
  display: table;
  list-style: none;
  height: 100%;
}
nav ul li {
  display: table-cell;
  padding: 0px 20px;
  vertical-align: middle;
}
nav ul li:hover {
  border-top: 4px solid #0065fc;
}
nav ul li a {
  font-size: x-large;
}
nav ul li a:hover {
  color: #0065fc;
}
.bold {
  color: #0065fc;
  font-weight: bold;
}
::placeholder {
  color: #bbb;
}
.searchBar {
  border: solid #f2f2f2 2px;
  background-color: #f2f2f2;
  height: 40px;
  display: inline-flex;
  border-radius: 10px;
  overflow: hidden;
}
.searchBar i {
  align-self: center;
  padding: 0px 20px;
}
.searchInput {
  font-weight: bolder;
  align-items: center;
  border: none;
  width: 300px;
  padding: 0px 10px;
}

.searchbutton {
  background-color: #0065fc;
  border: none;
  text-align: center;
  color: white;
  font-weight: lighter;
  padding: 0px 10px;
  overflow: hidden;
}
.filters {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 0px;
}
.filterContainer {
  margin-left: 10px;

  justify-content: space-around;
  display: flex;
  flex-direction: row;
}
.filterBtn {
  display: flex;
  border-radius: 20px;
  background-color: white;
  height: 35px;
  align-items: center;
  overflow: hidden;
  padding: 0;
  outline: none;
  border: #f2f2f2 solid 2px;
  margin-right: 20px;
}
.filterBtnText {
  padding: 0px 10px;
}
.filterBtn:active {
  border: #0065fc solid 2px;
}
.filterBtn:hover {
  background-color: #deebff;
}
.filterBtnIcon {
  display: flex;
  background: #deebff;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  color: #0065fc;
}
#info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.infoBtn {
  border: #f2f2f2 solid 2px;
  color: #0065fc;
  display: flex;
  padding: 10px;
  height: 3px;
  width: 3px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}
.infoText {
  padding: 10px;
}
.mainContainer {
  display: flex;
  flex-flow: wrap;
}
.contentContainer {
  display: flex;

  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 0px 20px;
  flex-direction: column;
}

.contentContainerTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.left {
  width: 60%;
}
.right {
  margin-left: 50px;
}

.cardContainer {
  display: flex;
}
.wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
}
.wrap a {
  width: 250px;
}
.column {
  flex-direction: column;
}
.wall {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 550px;
  justify-content: space-around;
  margin-bottom: 30px;
  align-items: center;
}
.card {
  margin: 5px;
  border: 3px solid white;
  border-radius: 10px;
  background-color: white;
  display: flex;
  overflow: hidden;

  text-align: left;
}
.bottomDescription {
  flex-direction: column;
}
.rightDescription {
  flex-direction: row;
  margin-bottom: 20px;
}
.bottomDescription img {
  height: 130px;

  object-fit: cover;
}
.rightDescription img {
  height: 130px;
  width: 200px;
  object-fit: cover;
}
.rightDescription .cardDescription {
  width: 250px;
}
.rightDescription .stars {
  margin-top: auto;
  padding: 10px;
}
.cardDescription {
  display: flex;
  flex-direction: column;
}
.cardDescription p {
  margin: 0;
  padding: 5px 10px;
}
.starsUp {
  color: #0065fc;
}
.starsDown {
  color: #f2f2f2;
}
.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
}
.card:hover {
  border: 3px solid #0065fc;
}

.bottom {
  background-color: white;
  padding-left: 0px;
  margin-left: -10px;
  width: 100%;
}
.bottom p {
  margin-top: 60px;
  margin-bottom: 20px;
}
.bigImage {
  flex-direction: column;
  width: 400px;
  border: #f2f2f2 solid 3px;
  margin-top: 0px;
  box-shadow: #f2f2f2 5px 5px 5px;
}
.bigImage img {
  object-fit: cover;
}
.img1 {
  height: 465px;
}
.img2 {
  height: 250px;
}
.img3 {
  height: 135px;
}
.img4 {
  height: 190px;
}
.cardBigImageDescription {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.cardBigImageDescription p {
  margin: 0;
}

footer {
  font-family: raleway;
  margin: 0;
}
#foot {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contentFoot {
  display: flex;
  width: 100%;
  padding-left: 20px;
  justify-content: space-between;
}

#foot li {
  list-style: none;
  padding-bottom: 10px;
}

#foot ol {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.about {
  flex-direction: column;
  justify-content: ;
}
.accommodation {
  flex-direction: column;
  justify-content: end;
}
.help {
  flex-direction: column;
  justify-content: end;
}
#foot a {
}
