@media screen and (min-width: 376px) and (max-width: 768px) {
  #logo {
    width: 100px;
    padding: 0 20px;
    margin-top: 10px;
  }

  #bloc_page {
    width: 100%;
  }

  header {
    grid-template-rows: repeat(11, auto);
    padding: 0;
  }

  h1,
  h2 {
    text-align: center;
  }

  button,
  nav img {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
  }

  nav img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-end: 1;
  }

  nav {
    grid-template-rows: auto auto;
    height: 120px;
  }

  nav ul li a {
    font-size: initial;
  }

  .bold {
    font-size: 17px;
  }

  .navigation,
  header,
  nav {
    display: grid;
    grid-template-columns: 384px 384px;
  }

  .navigation {
    grid-template-rows: 55px auto;
    grid-row-start: 1;
    grid-row-end: 3;
    background: 0 0;
  }

  ul {
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 0;
    margin: 0;
  }

  nav button,
  nav ul li {
    padding: 0 20px;
    vertical-align: middle;
    width: 384px;
    text-align: center;
  }

  nav ul li:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
  }

  nav button {
    font-size: x-large;
    display: flex;
    list-style: none;
    border: 0;
    outline: 0;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 5px;
  }

  nav button:hover {
    border: 0;
  }

  h1 {
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: larger;
  }

  .navigation,
  .searchBar,
  h1,
  h2,
  ul {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  h1,
  h2 {
    background: 0 0;
  }

  h2 {
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: large;
  }

  .searchBar {
    grid-row-start: 5;
    grid-row-end: 6;
    border: solid #f2f2f2 2px;
    background-color: #f2f2f2;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
  }

  .searchbutton {
    display: flex;
    justify-content: center;
  }

  .searchbutton i {
    display: block;
  }

  .searchbutton strong {
    display: none;
  }

  .filterContainer,
  .filters {
    display: flex;
    flex-direction: row;
  }

  .filters {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 10;
    align-items: center;
    height: 80px;
  }

  .filters p {
    margin-bottom: 30px;
  }

  #info,
  .filters p,
  h1,
  h2 {
    padding: 0 20px;
  }

  .filterContainer {
    margin-left: 0;
    justify-content: start;
    flex-wrap: wrap;
    align-content: center;
    padding: 0 20px;
  }

  #info {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 10;
    grid-row-end: 11;
    font-size: small;
    justify-content: center;
  }

  .filterBtn {
    margin-bottom: 15px;
  }

  .searchBar i {
    padding: 0 15px;
  }

  .left,
  .right {
    width: 768px;
    height: fit-content;
    flex-direction: column;
  }

  .rightDescription .cardDescription {
    align-items: center;
  }

  .left p {
    margin-left: 20px;
  }

  .contentContainer.right {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .contentContainer.left {
    margin-top: 30px;
  }

  .cardContainer,
  main {
    display: flex;
    flex-direction: column;
  }

  .cardContainerTitle {
    padding-left: 20px;
  }

  main {
    padding: 0;
  }

  .cardContainer {
    height: auto;
  }

  .contentContainerTitle {
    justify-content: space-between;
  }

  .wrap a {
    width: 354px;
  }
  .wrap {
    display: flex;
    flex-direction: row;
  }

  .bottomDescription img {
    height: 115px;
  }

  .bottomCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 768px;
    box-sizing: border-box;
  }

  .bottomCard > a {
    height: 100%;
  }

  .cardDescription p {
    margin: 0;
    padding: 5px 10px;
  }

  .bottomDescription {
    margin-bottom: 20px;
  }

  .left {
    background: 0 0;
  }

  .right {
    padding: 0;
  }

  .card {
    border: 3px solid #f2f2f2;
    box-shadow: #f2f2f2 3px 3px 3px;
  }

  .contentContainer {
    border-radius: 0;
    padding: 0;
  }

  .rightDescription img {
    height: 120px;
    width: 40%;
    object-fit: cover;
  }

  .cardBigImage1 img,
  .cardBigImage2 img,
  .cardBigImage3 img,
  .cardBigImage4 img,
  .cardBigImage5 img,
  .cardBigImage6 img {
    height: 130px;
    width: 354px;
  }

  .cardBigImage1,
  .cardBigImage2,
  .cardBigImage3,
  .cardBigImage4,
  .cardBigImage5,
  .cardBigImage6 {
    width: 354px;
    margin-bottom: 20px;
  }

  .contentFoot {
    padding-top: 20px;
    justify-content: space-between;
    align-items: end;
    box-sizing: border-box;
  }

  #foot {
    width: 768px;
  }
}
