@font-face {
  font-family: raleway;
  font-style: normal;
  font-weight: 400;
  src: url("raleway-v18-latin-regular.eot");
  src: url("raleway-v18-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("raleway-v18-latin-regular.woff2") format("woff2"),
    url("raleway-v18-latin-regular.woff") format("woff"),
    url("raleway-v18-latin-regular.ttf") format("truetype"),
    url("raleway-v18-latin-regular.svg#Raleway") format("svg");
}

body {
  font-family: raleway;
  margin: 0;
}

#bloc_page {
  width: auto;
}
a {
  text-decoration: none;
  color: black;
}

#logo {
  width: 130px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0px 50px;
}
nav ul {
  display: table;
  list-style: none;
  height: 100%;
  margin: 0;
  float: left;
}
nav ul li {
  display: table-cell;
  padding: 0px 20px;
  vertical-align: middle;
}
nav ul li:hover {
  border-top: 4px solid #0065fc;
}
nav ul li a {
  font-size: x-large;
}
nav ul li a:hover {
  color: #0065fc;
}
.navigation {
  height: 100%;
  background-color: white;
}

.bold {
  color: #0065fc;
  font-weight: bold;
}

nav button {
  font-size: x-large;

  padding: 0px 20px;
  vertical-align: middle;
  display: table;
  list-style: none;
  height: 100%;
  background-color: white;
  border: none;
  outline: none;
}
nav button:hover {
  border-top: 4px solid #0065fc;
}
header {
  display: flex;
  flex-direction: column;

  padding: 0px 50px;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
  font-weight: normal;
}

::placeholder {
  color: #bbb;
}
.searchBar {
  border: solid #f2f2f2 2px;
  background-color: #f2f2f2;
  height: 40px;
  display: inline-flex;
  border-radius: 10px;
  overflow: hidden;
  width: max-content;
}
.searchBar i {
  align-self: center;
  padding: 0px 20px;
}
.searchInput {
  font-weight: bolder;
  align-items: center;
  border: none;
  width: 300px;
  padding: 0px 10px;
}

.searchbutton {
  background-color: #0065fc;
  border: none;
  text-align: center;
  color: white;
  font-weight: lighter;
  padding: 0px 10px;
  overflow: hidden;
}
.filters {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px 0px;
}
.filterContainer {
  margin-left: 10px;

  justify-content: space-around;
  display: flex;
  flex-direction: row;
}
.filterBtn {
  display: flex;
  border-radius: 20px;
  background-color: white;
  height: 35px;
  align-items: center;
  overflow: hidden;
  padding: 0;
  outline: none;
  border: #f2f2f2 solid 2px;
  margin-right: 20px;
}
.filterBtnText {
  padding: 0px 10px;
}
.filterBtn:active {
  border: #0065fc solid 2px;
}
.filterBtn:hover {
  background-color: #deebff;
}
.filterBtnIcon {
  display: flex;
  background: #deebff;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  color: #0065fc;
}
#info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.infoBtn {
  border: #f2f2f2 solid 2px;
  color: #0065fc;
  display: flex;
  padding: 10px;
  height: 3px;
  width: 3px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}
.infoText {
  padding: 10px;
}
main {
  display: flex;
  flex-flow: wrap;
  padding: 0px 50px;
  justify-content: space-between;
}
.contentContainer {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 0px 20px;
  flex-direction: column;
}

.contentContainerTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.left {
  width: 50%;
  height: fit-content;
  flex-direction: column;
}
.right {
  width: 40%;
  height: fit-content;
  flex-direction: column;
  height: auto;
}
.column a {
  width: auto;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 550px;
}
.wrap a {
  width: 30%;
}
.column {
  flex-direction: column;
  display: contents;
}

.card {
  border: 3px solid white;
  border-radius: 10px;
  background-color: white;
  display: flex;
  overflow: hidden;

  text-align: left;
}
.bottomDescription {
  flex-direction: column;
}
.rightDescription {
  flex-direction: row;
  margin-bottom: 20px;
  margin-left: 40px;
}
.bottomDescription img {
  height: 130px;

  object-fit: cover;
}
.rightDescription img {
  height: 165px;
  width: 200px;
  object-fit: cover;
}
.rightDescription .cardDescription {
  width: 250px;
}
.rightDescription .stars {
  margin-top: auto;
  padding: 10px;
}
.cardDescription {
  display: flex;
  flex-direction: column;
}
.cardDescription p {
  margin: 0;
  padding: 10px 10px;
}
.starsUp {
  color: #0065fc;
}
.starsDown {
  color: #f2f2f2;
}
.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
}
.card:hover {
  border: 3px solid #0065fc;
}

.bottom {
  background-color: white;
  margin-top: 20px;
  width: 100%;
  height: 650px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 145px 145px 45px 100px 145px;
  margin-bottom: 60px;
}
.img1 {
  width: 600px;
  height: 520px;
}
.card1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 7;
}
.img2 {
  width: 600px;
  height: 275px;
}
.card2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
}
.img3 {
  width: 600px;
  height: 185px;
}
.card3 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 7;
}

.img4 {
  width: 600px;
  height: 520px;
}
.card4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 7;
}
.img5 {
  width: 600px;
  height: 230px;
}
.card5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}
.img6 {
  width: 600px;
  height: 230px;
}
.card6 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
}

.cardBigImage {
  flex-direction: column;
  width: auto;
  border: #f2f2f2 solid 3px;
  margin-top: 0px;
  box-shadow: #f2f2f2 5px 5px 5px;
}
.cardBigImage:hover {
  border: #0065fc solid 3px;
}
.cardBigImage img {
  object-fit: cover;
}

.cardBigImageDescription {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.cardBigImageDescription p {
  margin: 0;
}

footer {
  font-family: raleway;
  margin: 0;
}
#foot {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contentFoot {
  display: flex;
  width: 100%;
  padding-left: 20px;
  justify-content: space-between;
}

#foot li {
  list-style: none;
  padding-bottom: 10px;
}

#foot ol {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.about {
  flex-direction: column;
}
.accommodation {
  flex-direction: column;
  justify-content: end;
}
.help {
  flex-direction: column;
  justify-content: end;
}
